html{
  height: 100%;
}
body{
  color: #ffffff; 
  background-color: #000000;
  margin: 0;
  padding: 0;
  min-height: 100%;
  /* position: relative; */
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background: #000000;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
